body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f9f1; /* Cor de fundo da página */
}

nav {
  background-color: white; /* Fundo branco */
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

nav a {
  color: #2e7d32; /* Verde escuro */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase; /* Caixa alta */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #66b266; /* Verde mais claro no hover */
}

.logo-container {
  text-align: center;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.logo {
  max-width: 180px;
  height: auto;
}

.App {
  text-align: center;
}

footer {
  background-color: #e0f2f1;
  text-align: center;
  padding: 0.5rem 1rem; /* Altura mais baixa */
  font-size: 0.9rem; /* Texto um pouco menor */
  border-top: 1px solid #ccc;
  color: #333;
}

footer a {
  color: #2e7d32;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
  font-weight: 500;
}

footer a:hover {
  color: #66b266;
}
