/* src/App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* Cor de fundo suave */
}

nav {
  padding: 1rem;
  background: #4CAF50; /* Cor de fundo da navegação */
  display: flex;
  justify-content: space-around; /* Espaçamento igual entre os links */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

nav a {
  color: white; /* Cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: bold; /* Texto em negrito */
}

nav a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
}

h1 {
  padding: 2rem;
  color: #333; /* Cor do texto do cabeçalho */
  font-size: 2.5rem; /* Tamanho da fonte */
}

.App {
  text-align: center;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #282c34; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto do rodapé */
}
